

@media (max-width: 1399px) {
    .hero-section {
        min-height: 650px;
    }

    .design-slide__left {
        padding: 50px 60px 50px 44px;
        width: calc(50% - 80px);
    }

    .ss__feature_card__tc h3 {
        font-size: 22px;
        margin: 0 0 7px;
    }
    .ss__feature_card__tc p {
        font-size: 16px;
    }
    .ss__feature_card__icon {
        height: 35px;
        margin: 0 0 14px;
    }

    .article__single__image .caption {
        padding: 6px 11px 0;
        font-size: 11px;
    }
    .article__single__body {
        padding: 20px 22px 23px;
    }
    .article__single__body__bottom {
        margin: 20px 0 0;
    }

    .article-section__inner {
        padding: 0;
    }
}


@media (max-width: 1199px) {
    .default-button {
        padding: 5px 20px;
    }

    .design-slide {
        flex-wrap: wrap;
    }
    .design-slide__left {
        width: 100%;
    }
    .design-slide__left .cont-blk {
        max-width: 610px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .design-slide__right {
        max-height: 440px;
        width: 100%;
    }

    .testimonial-slider_outer {
        padding: 0;
    }

    .ss-section__inner-r1 {
        grid-template-columns: repeat(1,1fr);
    }
    .ss__inr1__left .cont-blk {
        text-align: center;
        align-items: center;
    }

    .ss__inr1__left {
        padding: 66px 80px 65px 80px;
    }
    .ss__inr1__right {
        max-height: 534px;
    }

    .ss__feature_card {
        box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.1);
        border-radius: 8px;
    }

    .contact-section__inner {
        flex-wrap: wrap;
    }
    .contact-section__left {
        width: 100%;
        max-width: 465px;
        padding-right: 0;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .contact-section__right {
        width: 100%;
    }
    .contact-section__left__top {
        text-align: center;
        align-items: center;
    }
    .contact-step-nav {
        padding-right: 10%;
        padding-left: 10%;
    }
    .contact-form__m-rndwer {
        text-align: center;
    }
    .contact-form__m-rndwer .x-options-row {
        justify-content: center;
    }
    .contact-form__m-rfhgr {
        justify-content: center;
        display: flex;
    }
    .contact-form__m-wber {
        text-align: center;
    }

    .cta-card__inner {
        text-align: center;
    }
    .cta-ul li a {
        justify-content: center;
    }

    .footer__top-inner {
        flex-wrap: wrap;
    }
    .footer__logo-column {
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-menu-column {
        width: 33.333333%;
        padding-left: 0;
    }
    .footer__bottom__inner {
        gap: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .copyright {
        font-weight: 700;
    }
    .footer__bottom {
        padding: 30px 0;
    }
    .hero-section {
        min-height: 598px;
    }
}


@media (max-width: 991px) {
 
}


@media (max-width: 768px) {
    .header__logo {
        width: 106px;
    }
    .header_in {
        padding: 10px 0;
    }
    .hero__content .h1 {
        font-size: 24px;
        font-weight: 550;
    }
    .hero-section {
        min-height: 308px;
        padding: 25px 0;
    }

    .h2 {
        font-size: 24px;
    }
    .sf__nav {
        display: none;
    }
    .sf-section__title {
        margin: 0;
    }
    .sf-section {
        padding: 35px 0 30px;
    }

    .design-slide__left {
        padding: 30px 15px 25px 15px;
    }
    .testimonial-section {
        padding: 40px 0;
    }
    .testimonial-slider .owl-dots {
        margin: 25px 0 0;
    }
    .ss__inr1__left {
        padding: 40px 25px 40px 25px;
    }
    
    .faq-single_title h3 {
        font-size: 14px;
    }
    .faq-single_title .ind {
        font-size: 20px;
    }
    .faq-single_title {
        min-height: 47px;
        padding: 8px 12px;
        gap: 10px;
        border-radius: 6px;
    }
    .faq-single_collapsed__inner p {
        font-size: 15px;
    }
    .faq-single_collapsed__inner {
        padding: 15px 17px;
        min-height: 140px;
    }
    .single-faq {
        margin-bottom: 22px;
    }
    .sec-title {
        margin: 0 0 25px;
    }
    .faq-section {
        padding: 60px 0 30px;
    }
    .faq__section__bottom {
        margin: 35px 0 0;
    }
    .article-section {
        padding: 40px 0;
    }
    .article-section__bottom {
        margin: 40px 0 0;
    }

    .input-x {
        padding: 13px 16px;
        border-radius: 6px;
        font-size: 16px;
    }
    .single-input-x {
        margin: 0 0 15px;
    }
    .cta-card {
        padding: 25px 15px;
    }
    .footer-menu-column {
        width: 100%;
        margin-bottom: 30px;
    }

    .testimonial-slide {
        background: #FFFFFF;
        padding: 30px 23px 30px 23px;
    }
    .testimonial-slide .auth h3 {
        font-size: 16px;
    }
    .testimonial-slide .auth p {
        font-size: 11px;
    }
    .testimonial-slide .auth {
        margin: 15px 0 0;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .hero__content .h1 {
        font-size: 20px;
        font-weight: 550;
    }
    .h2 {
        font-size: 19px;
    }

    .ss__inr1__left {
        padding: 35px 15px 34px 15px;
    }

    .footer-menu-column h3 {
        font-size: 20px;
    }
}
