/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('webfonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('webfonts/AvenirNextLTPro-Bold.woff') format('woff'),
      url('webfonts/AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('webfonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
      url('webfonts/AvenirNextLTPro-Demi.woff') format('woff'),
      url('webfonts/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('webfonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
      url('webfonts/AvenirNextLTPro-Regular.woff') format('woff'),
      url('webfonts/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Avenir LT Pro 45 Book';
  src: url('webfonts/AvenirLTPro-BookOblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-BookOblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('webfonts/AvenirLTPro-Roman.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Roman.woff') format('woff'),
      url('webfonts/AvenirLTPro-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('webfonts/AvenirLTPro-Medium.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Medium.woff') format('woff'),
      url('webfonts/AvenirLTPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 55 Roman';
  src: url('webfonts/AvenirLTPro-Heavy.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Heavy.woff') format('woff'),
      url('webfonts/AvenirLTPro-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 55 Roman';
  src: url('webfonts/AvenirLTPro-HeavyOblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-HeavyOblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-HeavyOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 35';
  src: url('webfonts/AvenirLTPro-LightOblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-LightOblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url('webfonts/AvenirLTPro-Black.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Black.woff') format('woff'),
      url('webfonts/AvenirLTPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('webfonts/AvenirLTPro-Light.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Light.woff') format('woff'),
      url('webfonts/AvenirLTPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 55 Roman';
  src: url('webfonts/AvenirLTPro-Oblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Oblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url('webfonts/AvenirLTPro-BlackOblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-BlackOblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-BlackOblique.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro 65';
  src: url('webfonts/AvenirLTPro-MediumOblique.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-MediumOblique.woff') format('woff'),
      url('webfonts/AvenirLTPro-MediumOblique.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('webfonts/AvenirLTPro-Book.woff2') format('woff2'),
      url('webfonts/AvenirLTPro-Book.woff') format('woff'),
      url('webfonts/AvenirLTPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





:root {
  --theme__color1: #006FC8;
  --theme__color2: #22345B;
  --theme__color3: #68BB45;
  --avenirNextLTpro: 'Avenir Next LT Pro';
  --avenirLTpro: 'Avenir LT Pro';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #22345B;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--avenirLTpro);
}
a, a:active, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1288px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header_in {
  padding: 24px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-section__inner {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 217px;
}
.header__logo img {

}

.main-menu {

}
.main-menu > ul {
  gap: 32px;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 14px;
  font-weight: 900;
  color: var(--theme__color2);
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.main-menu > ul > li > a:hover {
  color: #0257A4;
}
.main-menu > ul > li > a::after {
  content: '';
  height: 2px;
  width: calc(100% + 14px);
  bottom: -6px;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  display: block;
  background: #0257A4;
  opacity: 0;
  transition: 0.3s;
}
.main-menu > ul > li > a:hover:after {
  opacity: 1;
}
.main-menu > ul > li > a > .chevron {
  font-size: 10px;
}

.header-right {
  gap: 20px;
  display: flex;
  align-items: center;
}
.header-right .dropdown {

}
.header-right > .dropdown > a {
  font-size: 14px;
  font-weight: 900;
  color: var(--theme__color2);
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-right .dropdown a .chevron {
  font-size: 10px;
}
.header-right .button {

}


.dropdown-menu {
  border: none;
  background: #fff;
  filter: drop-shadow(0px 15px 30px rgba(112, 144, 176, 0.3));
}
.dropdown-menu a {
  padding: 5px 16px;
  color: var(--theme__color2);
  display: flex;
}
.dropdown-menu a:hover {
  background: #D9D9D9;

}
/* header-end */


/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu > li > a {
  display: block;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu > li > a .chevron {
  font-size: 11px;
}
.mobile-menu > li .dropdown-menu.show {
  position: static !important;
  width: calc(100% - 0px);
  transform: none !important;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/



/* ---hero-section--- */
.hero-section {
  padding: 51px 0;
  min-height: 809px;
  background: url('images/hero-img.png') no-repeat center center/cover;
  color: var(--theme__color2);
}
.hero-section__inner {

}
.hero__content {
  text-align: center;
  filter: drop-shadow(0 0 30px #fff) drop-shadow(0 0 30px #fff) drop-shadow(0 0 30px #fff);
}
.hero__content .h1 {
  font-size: 34px;
  font-family: var(--avenirNextLTpro);
}
.hero__content p {
  font-size: 16px;
}
/* ---hero-section---end */


/* ---common-content--- */
.h2 {
  font-size: 34px;
  margin: 0 0 5px;
  line-height: 1.44;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #22345B;
}
.h4 {
	font-size: 16px;
	margin: 0 0 1px;
	font-weight: 400;
	color: #6A6A6A;
}
.sec-title {
  margin: 0 0 30px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  text-align: center;
  align-items: center;
}
.cont-blk--white {
  color: #fff;
}
.cont-blk--white .h2 {
  color: #fff;
}
.cont-blk--white .h4 {
  color: #fff;
}
.cont-blk .bottom-button {
  margin: 15px 0 0;
}
/* ---common-content---end */


/* ---testimonial-section--- */
.testimonial-section {
  padding: 62px 0;
  background: #FAFAFA;
}
.testimonial-section__inner {

}
.testimonial-section__title {

}

.testimonial-slider_outer {
  padding: 0 17%;
}
.testimonial-slider {
  filter: drop-shadow(10px 10px 10px rgba(112, 144, 176, 0.05));
}
.testimonial-slider .owl-dots {
  margin: 35px 0 0;
}
.testimonial-slide {
  background: #FFFFFF;
  padding: 45px 60px 45px 32px;
}
.testimonial-slide h4 {
	font-size: 14px;
	margin: 0 0 15px;
	font-weight: 400;
	color: #6A6A6A;
	text-transform: uppercase;
}
.testimonial-slide p {
  font-size: 14px;
} 
.testimonial-slide .auth {
  margin: 25px 0 0;
}
.testimonial-slide .auth h3 {
  font-size: 20px;
  margin: 0 0 4px;
  font-weight: 550;
}
.testimonial-slide .auth p {
  font-size: 14px;
  font-weight: 700;
}
.slider-dots1 .owl-dots{
  display: flex;
  gap: 7px;
  justify-content: center;
}
.slider-dots1 .owl-dot{
  background: #DBDBDB !important;
  border: 4px solid transparent !important;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-clip: padding-box !important;
  transition: 0.3s;
}
.slider-dots1 .owl-dot.active{
  border-color: var(--theme__color1) !important;
  background: transparent !important;
}
/* ---testimonial-section-end--- */


/* ---ss-section--- */
.ss-section {
  padding: 60px;
}

.ss-section__inner-r1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.ss__inr1__left {
  padding: 66px 80px 120px 80px;
  background: var(--theme__color1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ss__inr1__left .cont-blk {
  max-width: 545px;
}
.ss__inr1__right {
  
}
.ss__inr1__right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.ss__features_outer {
  margin-top: -61px;
}
.ss__features {
    padding: 0 4%;
}
.ss__feature_card {
  padding: 35px 30px 70px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ss__feature_card__icon {
  height: 40px;
  margin: 0 0 20px;
}
.ss__feature_card__icon img {
  max-height: 100%;
}
.ss__feature_card__tc {
  width: 100%;
  text-align: center;
}
.ss__feature_card__tc h3 {
	font-size: 24px;
	margin: 0 0 13px;
}
.ss__feature_card__tc p {
  font-size: 14px;
  font-weight: 400;
}

/* ---ss-section---end */


/* ---sf-section--- */
.sf-section {
  padding: 60px 0 70px;
}
.sf-section__inner {

}
.sf-section__title {
  margin: 0 0 55px;
}

.sf__nav {

}
.sf__nav ul {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sf__nav ul li {

}
.sf__nav ul li a {
	font-size: 14px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 138px;
}
.sf__nav ul li a.active {

}
.sf__nav ul li a .icon {
	height: 54px;
	width: 54px;
	margin: 0 0 13px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.25);
	border: 3px solid #e6e6e9;
	transition: 0.3s;
	position: relative;
	z-index: 2;
}
.sf__nav ul li a .icon::after {
	content: '';
	height: 1px;
	width: 99px;
	top: 50%;
	right: calc(50% + 27px);
	transform: translate(0,50%);
	position: absolute;
	display: block;
	background: #EAEAEA;
	z-index: -2;
}
.sf__nav ul li:first-child a .icon::after {
  display: none;
}
.sf__nav ul li a.active .icon {
  border-color: var(--theme__color1) !important;
}
.sf__nav ul li a .icon svg {

}
.sf__nav ul li a .icon svg [fill="#22345B"] {

}
.sf__nav ul li a.active .icon svg [fill="#22345B"] {
  fill:  var(--theme__color1) !important;
}
.sf__nav ul li a .text {
  text-decoration: underline;
  text-underline-offset: 6px;
}
/* ---sf-section---end */


/* ---design-section--- */
.design-section {

}
.design-section__inner {

}

.design-slider {

}
.design-slider .owl-nav {
  --arr-offset: 45px;
}
.design-slider .owl-nav .owl-prev {
  display: none;
}
.design-slide {
  display: flex;
}
.design-slide__left {
  padding: 70px 90px 70px 70px;
  width: calc(50% - 140px);
  background: var(--theme__color2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.design-slide__left .cont-blk {

}
.design-slide__right {
  max-height: 566px;
  flex-grow: 1;
  width: 0;
}
.design-slide__right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-arrow-1 .owl-nav {
  gap: 20px;
  display: flex;
}
.slider-arrow-1 .owl-nav button {
  font-size: 10px !important;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  background: #fff !important;
  outline: 8px solid rgba(0, 110, 200, 0.3);
  border-radius: 50%;
  color: var(--theme__color1) !important;
  transition: 0.3s;
}
.slider-arrow-1 .owl-nav button:hover {
  outline: 8px solid rgba(0, 110, 200,0.6);
}
.slider-arrow-center {
  --arr-offset: 20px;
}
.slider-arrow-center .owl-prev,
.slider-arrow-center .owl-next {
  position: absolute;
  top: 50%;
  left: var(--arr-offset);
  transform: translate(0,-50%);
}
.slider-arrow-center .owl-next {
  right: var(--arr-offset);
  left: unset;
}
/* ---design-section---end */


/* ---faq-section--- */
.faq-section {
  padding: 60px 0;
}
.faq-section__inner {

}
.faq-section__title {

}

.faqs-wrap {

}
.single-faq {
  margin-bottom: 33px;
}
.single-faq:last-child {
  margin-bottom: 0;
}
.faq-single_title {
  min-height: 64px;
  padding: 10px 20px;
  background: var(--theme__color2);
  color: #fff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
}
.faq-single_title h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.faq-single_title .ind {
  font-size: 30px;
}
.faq-single_title .ind::before {
  content: '\f067';
  transition: 0.3s;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  display: block;
}
.faq-single_title:not(.collapsed) .ind::before {
  content: '\f068';
  transform: rotate(180deg);
}
.faq-single_collapsed {
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.1);
  border-radius: 0px 0px 8px 8px;
}
.faq-single_collapsed__inner {
  padding: 28px 25px;
  min-height: 156px;
} 
.faq-single_collapsed__inner p {
  font-size: 20px;
  font-weight: 500;
}

.faq__section__bottom {
  margin: 63px 0 0;
  display: flex;
  justify-content: center;
}
/* ---faq-section---end */


/* ---article-section--- */
.article-section {
  padding: 70px 0;
  background: #DAEBF6;
}
.article-section__inner {
	padding: 0 5.2%;
}
.article-section__title {

}

.articles__container {

}
.article-single {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.1);
}
.article__single__image {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}
.article__single__image img {
  border-radius: inherit;
  width: 100%;
}
.article__single__image .caption {
  padding: 8px 15px 0;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  background: #fff;
}
.article__single__body {
  padding: 24px 42px 30px;
}
.article__single__body h3 {
  font-size: 24px;
}
.article__single__body p {
  font-size: 14px;
}
.article__single__body__bottom {
  margin: 30px 0 0;
} 
.article__single__arr-button {
  font-size: 14px;
  gap: 7px;
  display: flex;
  align-items: center;
}
.article__single__arr-button i {
  transition: 0.3s;
}
.article__single__arr-button:hover i {
  transform: translate(5px, 0);
}

.article-section__bottom {
  margin: 60px 0 0;
  display: flex;
  justify-content: center;
}
/* ---article-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 65px 0;
  background: #FAFAFA;
}
.contact-section__inner {
  display: flex;
  padding: 0 2%;
}


.contact-section__left {
  width: 44%;
  padding-right: 5%;
}
.contact-section__left__top {
  margin: 0 0 35px;
}
.contact-section__left__bottom {

}
.contact-step-nav {
  padding-right: 21%;
}
.contact-step-nav li {
  display: flex;
  padding-bottom: 30px;
  position: relative;
} 
.contact-step-nav li:last-child {
  padding-bottom: 0;
}
.contact-step-nav li::after {
	content: '';
	height: calc(100% - 40px);
	width: 2px;
	left: 11px;
	bottom: 8px;
	background: rgba(168, 168, 170, 0.582);
	display: block;
	position: absolute;
}
.contact-step-nav li:last-child::after {
  display: none;
}
.contact-step-nav li.active {

}
.contact-step-nav li .ellipse {
  margin: 0px 16px 0 0;
  height: 24px;
  width: 24px;
  background: #A8A8AA;
  border-radius: 50%;
  border: 1px solid #A8A8AA;
  padding: 7px;
  background-clip: content-box !important;
  transition: 0.3s;
  flex-shrink: 0;
}
.contact-step-nav li.active .ellipse {
  border-width: 8px;
  padding: 0;
  background: transparent;
  border-color: var(--theme__color2);
}
.contact-step-nav li .content {

}
.contact-step-nav li .content h4 {
	font-size: 14px;
	margin: 0 0 3px;
	font-weight: 700;
}
.contact-step-nav li .content p {
  color: #6A6A6A;
}

.contact-section__right {
  width: 0;
  flex-grow: 1;
}
.contact-form {

}
.contact-form__row {

}
.single-input-x {
  margin: 0 0 28px;
  width: 100%;
}
.label-x {
	font-size: 14px;
	margin: 0 0 11px;
	font-weight: 550;
	color: var(--theme__color2);
	width: 100%;
}
.input-x {
  padding: 16px 18px;
  border: 1px solid;
  border: 1px solid #DBDBDB;
  color: #A8A8AA;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  font-weight: 550;
  line-height: 1.3;
}
.x-options-row {
  gap: 15px;
  display: flex;
  align-items: center;
}
.x-option {
  gap: 10px;
  display: flex;
  align-items: center;
}
.x-option .checkbox {

}
/* ---contact-section---end */


/* ---cta-section--- */
.cta-section {

}

.cta-card_wrapper {

}
.cta-card_wrapper > [class*="col"] {
  display: flex;
  flex-direction: column;
}
.cta-card {
  padding: 30px;
  background: var(--theme__color1);
  color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-card__inner {
  max-width: 260x;
  flex-grow: 1;
}
.cta-card--dark {
  background: var(--theme__color2);
}
.cta-card--ass {
  background: #6A6A6A;
}
.cta-card h3 {
  font-size: 24px;
  margin: 0 0 14px;
}
.cta-ul {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.cta-ul li {

}
.cta-ul li a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
}
.cta-ul li a .icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cta-card .bottom-button {
  margin: 15px 0 0;
}
/* ---cta-section---end */


/* ---footer-section--- */
.footer-section {

}

.footer__top {
  padding: 70px 0 30px;
}
.footer__top-inner {
  display: flex;
}
.footer__logo-column {
  padding-right: 10px;
}
.footer-logo {
  width: 217px;
  margin: 0 0 12px;
  display: block;
}
.footer-logo img {

}
.footer__logo-column {
  width: 25%;
}
.footer__logo-column p {

}
.footer__logo-column h4 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 750;
}
.line-social-menu {
  gap: 10px;
  display: flex;
}
.line-social-menu li {

}
.line-social-menu li a {
  transition: 0.3s;
}
.line-social-menu li a:hover {
  opacity: 0.5;
}


.footer-menu-column {
  width: 25%;
  padding-left: 7%;
}
.footer-menu-column h3 {
  margin: 0 0 23px;
  font-size: 24px;
}
.footer-menu {
  gap: 22px;
  display: flex;
  flex-direction: column;
}
.footer-menu li {

}
.footer-menu li a {
  color: #6A6A6A;
  font-weight: 700;
}
.footer-menu li a:hover {
  color: #535353;
  text-decoration: underline !important;
  text-underline-offset: 7px;
}


.footer__bottom {
  padding: 25px 0;
  border-top: 1px solid #EAEAEA;
}
.footer__bottom__inner {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.copyright {
  font-weight: 700;
  margin: 0;
}
.fl-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.fl-menu li {
  font-weight: 700;
}
.fl-menu li a {
  transition: 0.3s;
}
.fl-menu li a:hover {
  color: var(--theme__color1);
}
/* ---footer-section---end */